/* Configurações gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* Cabeçalho */
header {
    background: linear-gradient(to bottom, #e60012, #d60000);
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

/* Banner */
.banner{
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 220px;
    object-fit: cover;
    margin: 0 auto;
}  /* impede que a imagem seja cortada */


/* Título principal */
h1 {
    margin: 20px 0 10px;
    font-size: 48px;
}

/* Subtítulo */
header p {
    width: 70%;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
}

/* Área principal */
main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* Cards */
section {
    background: white;
    margin-bottom: 35px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

/* Títulos */
h2 {
    color: #d60000;
    font-size: 34px;
}

h3 {
    color: #d60000;
}

/* Parágrafos */
p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.8;
}

/* Imagens dos jogos */
.imagem-conteudo {
    display: block;
    width: 60%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

/* Todas as imagens */
img {
    max-width: 100%;
    height: auto;
}

/* Rodapé */
footer {
    background-color: #d60000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 17px;
    }

    header p {
        width: 90%;
    }

    .imagem-conteudo {
        width: 90%;
    }

    .banner {
        max-height: 220px;
    }
}
.imagem-vertical {
    display: block;
    width: 50%;
    max-width: 420px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
